<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body >
    <div class="container ">
        <h1 align="center">Account Registration</h1><br>
        <div align="center">
        <form>
            
          <table>
            <!-- <tr>
              <td><label for="name">Name:</label></td>
              <td><input type="text" name="name" id="name" placeholder="your name"></td>
            </tr>
            <tr>
                <td><label for="name">DOB:</label></td>
                <td><input type="date" name="dob" id="dob" placeholder=""></td>
              </tr>
            <tr>
              <td><label for="email">Email:</label></td>
              <td><input type="text" name="email" id="email" placeholder="your email"></td>
            </tr>
            
            <tr>
              <td><label for="phoneNumber">Phone Number:</label></td>
              <td><input type="number" name="phoneNumber" id="phoneNumber"></td>
            </tr>
            <tr>
                <td><label for="address">Address:</label></td>
                <td><textarea name="address" id="address" placeholder="your address"></textarea></td>
              </tr>
            <tr>
              <td><label for="gender">Gender:</label></td>
              <td>Female: <input type="radio" name="gender" value="female" id="gender">
                Male: <input type="radio" name="gender" value="male" id="gender">
                Other: <input type="radio" name="gender" value="other" id="gender"></td>
            </tr>
            <tr>
              <td><label for="district">District</label></td>
              <td>
                <select name="district" id="district">
                  <option value="">select district</option>
                  <option value="English">Calicut</option>
                  <option value="Spanish">Kannur</option>
                  <option value="Hindi">Malappuram</option>
                  <option value="Arabic">Thrissur</option>
                  <option value="Russian">Ernakulam</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label for="username">User name:</label></td>
              <td><input type="text" name="username" id="username" placeholder="your username"></td>
            </tr>
            
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password" id="password"></td>
              </tr>
          </table> -->
          </table>
          <br>
          <table class="table table-dark">
            {{rg.as_table}}
        </table>
          <br>
          <button class="bg-dark text-white">REGISTER</button>
        
        </form>
    
    
  </body>
</html>